#chat-screen {
  background-color: #fdf6ef;
  height: 150vh;
}
#chat-screen .alt-header {
  top: 15px;
  z-index: 1;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  background-color: #fdf6ef;
  box-sizing: border-box;
}
#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}
.chat__timestamp {
  color: white;
  background-color: rgb(152, 148, 139);
  padding: 9px 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__author {
  display: block;
  margin-bottom: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: rgb(226, 241, 246);
  padding: 8px 12px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 17px;
  border: 2px solid rgb(201, 186, 171);
}
.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: rgb(250, 229, 199);
  border-top-right-radius: 0%;
  border-top-left-radius: 13px;
  margin-right: 0px;
  margin-left: 5px;
  border: 2px solid rgb(201, 186, 171);
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fdf6ef;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply i {
  opacity: 0.5;
}
.reply input {
  padding: 5px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  transition: all 0.3 ease-in-out;
  font-size: 15px;
}
.reply__column:last-child > i,
.reply__column button {
  position: absolute;
  right: -8px;
  top: 4px;
}
.reply__column:last-child > i {
  right: 40px;
  top: 15px;
}
.reply__column button {
  background-color: var(--btn-color);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column button i {
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}
