.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.settings__new {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 15px;
  position: absolute;
  top: -7px;
}
